---
---

@import "jekyll-theme-primer";

.categories-list {
  ul {
    padding-left: 0px;
  }

  li {
    display: inline;
    margin: 0px 5px;
  }
}

.category-count {
  font-size: 80%;
}

.site-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #eaecef;
  display: flex;
  align-items: end;
}

.site-title {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: none !important;
}

.site-nav {
  margin: 0 0 0 auto;

  ul {
    padding-left: 0px;
    margin: 0;
  }

  li {
    display: inline;
    margin: 0px 5px;
  }
}

.home {
  clear: both;
}
